<html>
    <head>
   <style>

   .div1 {
    border:10px solid blue;
    background-color: red;
    text-align: center;
    margin-top: 40px;
   }
.div2 {
            border: 10px solid green;
            background-color:  red;
            text-align: center;
            margin-top: 80px;
}
</style>
</head>
<body>
    <div class="div1">
        <h3> 
            New Zealand is a small country.
        </h3>
        <p> 
            It has many parks and beaches. There are no snakes in New Zealand.
        </p>
</div>
<div class="div2">
    <h3>
    Around a hundred people die to unintentional drowning each year in NZ.
    </h3>
<p>
    There are many dangerous beaches in New Zealand.   
  </p>
       </div>
    </body>
</html>