<html>
    <head>
        <style>
            body {
                background-image: url(/public/images/nz8.jpg);
            }
            .bottom-right {
                text-align: right;
                position: fixed;
                bottom: 4o;
                right:0;
                color:white;
            }
            .bottom-right-right {
                text-align: right;
                position: fixed;
                bottom: 20;
                right: 0;
            }
        </style>
    </head>
    <body>
        <div>
            <h2 style="color:green;">
                Auckland Parks
            </h2>
            <p>
                <p style="color:blue;"> 
                    Albert Park <br> <br>
                </p>
                <p style="color:green;">
                    Myers Park <br> <br>
                </p>
                <p style="color:red;">
                    Cornwall Park <br> <br>
                </p>
                <p style="color: #3f7a6c;">
                    Auckland Beaches
                </p>     
            <ol>
                <li style="color: white;">
                    Mission Bay
                </li>
                <li style="color:white;">
                    Long Bay
                </li>
                <li style="color:white;">
                    Takapuna
                </li>
            </ol>
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <p class="bottom-right">
                Image by Luca from Pixabay- Legally free to download and use.
            </p>
            <p class="bottom-right-right">
                https://pixabay.com/photos/taj-mahal-architecture-tourism-trip-3654227/ 
            </p>
        </div>
</html>
